## File: .gitignore
reports 2/assets/
reports 2/assets 2/
reports 2/assets 3/
reports 2/assets 4/
reports 2/assets 5/
reports 2/assets 6/
reports 2/assets 7/
reports 2/assets 8/
reports 2/assets 9/
reports 2/assets 10/
reports 2/assets 11/

reports 2/assets 10/app.js
reports 2/assets 11/app.js
reports 2/assets 3/app.js
reports 2/assets 4/app.js
reports 2/assets 5/app.js
reports 2/assets 6/app.js
reports 2/assets 7/app.js
reports 2/assets 8/app.js

.idea
.vscode
build
dist
node_modules
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

raw_reports
reports
cypress/screenshots
cypress/videos

reports/assets/
