.todo__title-field {
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 11px 14px;
  width: 100%;
}

.todo__title-field::-webkit-input-placeholder {
  color: #e6e6e6;
  font-style: italic;
  font-weight: 300;
}

.todo__title-field::placeholder {
  color: #e6e6e6;
  font-style: italic;
  font-weight: 300;
}

.todo .overlay {
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
}
