.todo {
  &__edit {
    border: none;
    width: 100%;
    height: 100%;

    font: inherit;

    &:focus {
      outline: none;
    }
  }
}

.form {
  padding: 12px 12px 12px;
  border: none;
  width: 100%;
  height: 100%;
}
