.item-enter {
  max-height: 0;
  opacity: 0;
}

.item-enter-active {
  overflow: hidden;
  max-height: 58px;
  opacity: 1;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.item-exit {
  max-height: 58px;
  opacity: 1;
}

.item-exit-active {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.temp-item-enter {
  max-height: 0;
  opacity: 0;
}

.temp-item-enter-active {
  overflow: hidden;
  max-height: 58px;
  opacity: 1;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.temp-item-exit {
  max-height: 58px;
  opacity: 1;
}

.temp-item-exit-active {
  transform: translateY(-58px);
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease-in-out, transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
