.filter {
  display: flex;
  gap: 10px;
  border-radius: 4px;
  color: #8d8d8d;

  a {
    padding: 4px 8px;
    border: 1px solid transparent;
    border-radius: 4px;

    color: #8d8d8d !important;

    transition: border-color 0.2s ease-in-out;

    &:hover {
      border-color: #ccc;
    }

    &.selected {
      border-color: black;
    }
  }
}
