iframe {
  display: none;
}

body {
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
}

.notification {
  position: relative;
  z-index: 1;
  transform: translateY(0);
  transition: 0.5s ease;
  transition-property: opacity, transform;
  opacity: 1;
}

.notification.hidden {
  transform: translateY(-120%);
  overflow: hidden;
  pointer-events: none;
  opacity: 0;
}

@import './todoapp';
@import './todo';
@import './filter';
@import './animatiom.scss';
