@use "./todoapp";
@use "./todo";
@use "./filter";

iframe {
  display: none;
}

body {
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
}

.notification {
  min-height: 36px;
  transition-duration: 1s;
  transition-property: opacity, min-height;
}

.notification.hidden {
  min-height: 0;
  pointer-events: none;
  opacity: 0;
}
