.item {
  &-enter {
    max-height: 0;
  }

  &-enter-active {
    overflow: hidden;
    max-height: 58px;
    transition: max-height 0.3s ease-in-out;
  }

  &-exit {
    max-height: 58px;
  }

  &-exit-active {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
  }
}
