.todoapp {
  position: relative;

  max-width: 550px;
  margin: 30px auto;

  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4em;
  color: #333;

  &__header {
    position: relative;
    padding: 15px;
    border-bottom: 1px solid #ededed;
  }

  &__title {
    position: relative;
    top: 0;
    width: 100%;
    margin: 0;
    font-size: 60px;
    font-weight: 100;
    color: rgba(175, 47, 47, 0.15);
    text-align: center;
    text-rendering: optimizeLegibility;
  }

  &__new-todo {
    position: relative;
    width: 100%;
    padding: 16px 16px 16px 60px;
    margin-top: 15px;
    border: none;
    background: rgba(0, 0, 0, 0);
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
    font-size: 24px;
    line-height: 1.4em;
    color: inherit;

    &::placeholder {
      font-weight: 300;
      font-style: italic;
      color: #e6e6e6;
    }
  }

  &__main {
    position: relative;
    z-index: 2;

    margin-top: 20px;

    border-top: 1px solid #e6e6e6;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;

    border-top: 1px solid #e6e6e6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);

    color: #555;
    text-align: center;

    &::before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;

      height: 50px;
      overflow: hidden;

      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
    }
  }

  &__toggle-all {
    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 34px;

    border: none;
    background: none;

    text-align: center;
    transform: rotate(90deg);

    font-size: 22px;
    color: #e6e6e6;
    cursor: pointer;

    &:checked {
      color: #737373;
    }
  }

  &__info {
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  }

  &__count {
    font-weight: 300;
  }

  &__filters {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 10px 0;
    padding: 0;

    list-style: none;
    text-align: center;

    li {
      display: inline;
      margin: 0 5px;
    }

    a {
      display: inline-block;
      padding: 3px 7px;

      border: 1px solid transparent;
      border-radius: 3px;
      color: inherit;
      text-decoration: none;

      &:hover {
        border-color: rgba(175, 47, 47, 0.1);
      }

      &.selected {
        border-color: rgba(175, 47, 47, 0.2);
      }
    }
  }

  &__clear-completed {
    position: relative;
    float: right;
    line-height: 20px;

    cursor: pointer;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
