$app-text-color: #4d4d4d;
$app-main-bg-color: #fff;
$app-main-shadow-color: rgba(0, 0, 0, 0.2);
$app-secondary-shadow-color: rgba(0, 0, 0, 0.1);
$title-text-color: rgba(175, 47, 47, 0.15);

$toogle-all-color: #e6e6e6;
$toogle-all-color-active: #737373;
$new-todo-background-color: rgba(0, 0, 0, 0.01);
$new-todo-shadow-color: rgba(0, 0, 0, 0.03);
$title-edit-placeholder-color: #e6e6e6;

$main-border-color: #e6e6e6;

$todo-bottom-border-color: #ededed;
$todo-completed-label-color: #d9d9d9;
$todo-destroy-color: #cc9a9a;
$todo-destroy-hover-color: #af5b5e;
$todo-border-color: #999;

$footer-text-color: #777;
$footer-secondary-shadow-color: #f6f6f6;

$filters-hover-color: rgba(175, 47, 47, 0.1);
$filters-selected-color: rgba(175, 47, 47, 0.2);
